#main_div {
    text-align: center;
    height: 100% !important;
}

h1 {
    display: inline-block;
    background-color: white;

}

body {
    background-color:black;
}

#h-watch {
    color: white;
    background-color: black;
    font-size: 70px;
}

.three-h {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 60px;
}

.btn-3 {
    width: 82px;
    height: 40px;
}

